name: Great Expectations Tests

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 9 * * *"
  workflow_dispatch:

jobs:
  test:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x' # Replace '3.x' with the Python version you require

      - name: Install pandas
        run: pip install pandas

      - name: Install sqlalchemy
        run: pip install sqlalchemy

      - name: Install psycopg2-binary
        run: pip install psycopg2-binary

      - name: Install snowflake-sqlalchemy
        run: pip install snowflake-sqlalchemy

      - name: Install snowflake-connector-python
        run: pip install snowflake-connector-python

      - name: Install great_expectations
        run: pip install great_expectations

      - name: Print current directory
        run: |
          echo Current Directory: $PWD
          ls -l

      - name: Run Great Expectations tests
        run: |
          great_expectations checkpoint run fact_invoice_revsys_ckp
          great_expectations checkpoint run revsource_invoices_ckp
          great_expectations checkpoint run dim_invoice_revsys_ckp
          great_expectations checkpoint run fact_invoice_ckp
